.site-nav {
  padding: 1rem 0;
  text-align: center;

  .nav-link {
    margin: 0 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #007bff;
    }
  }
}
